<table width="100%">
    <tr>
        <td width="20%">
            <img src="{{ get_url("") }}/images/ic_icono.png" width="100" />
        </td>
        <td width="80%" align="center" valign="center">
            <br>
            <h1 style="font-size: 20px;">{{ title }}</h1>
        </td>
    </tr>
</table>