{% extends "base.html.twig" %}

{% block head %}
    <link rel="stylesheet" href="lib/AdminLTE-2.3.0/plugins/select2/select2.min.css" />
    <script type="text/javascript" src="lib/AdminLTE-2.3.0/plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="lib/AdminLTE-2.3.0/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="lib/AdminLTE-2.3.0/plugins/datepicker/locales/bootstrap-datepicker.es.js"></script>
    <script type="text/javascript" src="js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="js/prestamo.js"></script>
{% endblock %}

{% block footer %}
    <script type="text/javascript">
        //Initialize Select2 Elements
        $(".select2").select2();
        $('.datepicker').datepicker({
            "format": "yyyy/mm/dd",
            "language": "es"
        });
        prestamo.init();
    </script>
{% endblock %}

{% block content %}
    {% include '@ModuleLoansPrestamo/search.html.twig' %}
    <div class="box-header">
        <a href="{{ get_url(url ~ '&a=Add') }}" class="btn btn-sm btn-info btn-flat pull-left">Nuevo prestamo</a>
    </div>
    <div id="containerLoading"></div>
    <div id="containerListadoPrestamo">
        {% include '@ModuleLoansPrestamo/listado.html.twig' %}
    </div>
{% endblock %}