{% extends "base.html.twig" %}

{% block head %}
    <link rel="stylesheet" href="lib/AdminLTE-2.3.0/plugins/select2/select2.min.css" />
    <script type="text/javascript" src="lib/AdminLTE-2.3.0/plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="js/zona.js"></script>
{% endblock %}

{% block footer %}
    <script type="text/javascript">
        //Initialize Select2 Elements
        $(".select2").select2();
        zona.init();
    </script>
{% endblock %}

{% block content %}
    {% set config = get_config() %}
    <div class="box">
        <div class="box-body">
            <div id="containerLoading"></div>
            <form class="form-horizontal" id="formZona">
                <input type="hidden" id="inputId" name="inputId" {% if record %} value="{{ record.getId }}" {% endif %}>
                <div class="form-group">
                    <label for="inputZona" class="col-sm-2 control-label">{% trans %}Zona{% endtrans %}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputZona" name="inputZona" placeholder="{% trans %}Zona{% endtrans %}" {% if record %} value="{{ record.getZona }}" {% endif %}>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputTipo" class="col-sm-2 control-label">{% trans %}Estado{% endtrans %}</label>
                    <div class="col-sm-10">
                        <select class="form-control select2" id="inputEstado" name="inputEstado" style="width: 100%">
                            {% for key, estado in config.estado_user %}
                                <option value="{{ key }}" {% if record and record.getEstado == key %} selected {% endif %}>{{ estado }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-danger" id="buttonZonaCancel">{% trans %}Cancelar{% endtrans %}</button>
                        <button type="button" class="btn btn-primary" id="buttonZona">{% trans %}Guardar{% endtrans %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}