<h3>Estimado {{ user.nombre }}</h3>
<p>Usted a ha solicitado el codigo de validacion para el cambio de clave: {{ code }} para ingresarlo en la pantalla de chequeo y cambio de clave.</p>
<p>Sin más que agregar,</p>