<!-- base.html.twig -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <!-- Bootstrap core CSS -->
    <link href="lib/vendor/twbs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="lib/vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/core/mensajes.js"></script>
    <script type="text/javascript" src="js/core/loading.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <div class="container">
        {% block header %}{% endblock %}
        {% block main   %}{% endblock %}
        {% block footer %}{% endblock %}
    </div>
    {% include '@Modal/alert.html.twig' %}
    {% include '@Modal/confirmation.html.twig' %}
</body>
</html>