<div class="panel panel-info">
    <div class="panel-heading" style="cursor:pointer;" id="estudianteSearchToogle">{% trans %}Cuadro de búsqueda{% endtrans %}<i class="fa fa-search pull-right">&nbsp;</i></div>
    <div class="panel-body" style="display: none">
        <div class="form-horizontal">
            <div class="form-group">
                <label for="inputNombresSearch" class="col-sm-2 control-label">{% trans %}Nombres{% endtrans %}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputNombresSearch" name="inputNombresSearch" placeholder="{% trans %}Nombres{% endtrans %}">
                </div>
            </div>
            <div class="form-group">
                <label for="inputApellidosSearch" class="col-sm-2 control-label">{% trans %}Apellidos{% endtrans %}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputApellidosSearch" name="inputApellidosSearch" placeholder="{% trans %}Apellidos{% endtrans %}">
                </div>
            </div>
            <div class="form-group">
                <label for="inputCedulaSearch" class="col-sm-2 control-label">{% trans %}Cedula{% endtrans %}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputCedulaSearch" name="inputCedulaSearch" placeholder="{% trans %}Cedula{% endtrans %}">
                </div>
            </div>
            <div class="form-group">
                <label for="inputCorreoSearch" class="col-sm-2 control-label">{% trans %}Correo{% endtrans %}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputCorreoSearch" name="inputCorreoSearch" placeholder="{% trans %}Correo{% endtrans %}">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEstadosearch" class="col-sm-2 control-label">{% trans %}Estado{% endtrans %}</label>
                <div class="col-sm-10">
                    <select class="form-control select2" id="inputEstadosearch" name="inputEstadosearch" style="width: 100%" multiple>
                        <option value=""></option>
                        <option value="1">{% trans %}Activo{% endtrans %}</option>
                        <option value="0">{% trans %}Inactivo{% endtrans %}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer text-center" style="display: none">
        <button type="button" class="btn btn-primary" onclick="estudiante.listado()">{% trans %}Buscar{% endtrans %}</button>
    </div>
</div>