{% extends "base.html.twig" %}

{% block head %}
    <script type="text/javascript" src="lib/bootstrap-filestyle-1.2.1/src/bootstrap-filestyle.js"></script>
    <script type="text/javascript" src="js/supervisor.js"></script>
{% endblock %}

{% block footer %}
    <script type="text/javascript">
        supervisor.files = [];
        $("#inputFile").on("change", supervisor.prepareUpload);
        $("#buttonSupervisorCancel").on("click", supervisor.cancelImport);
        $("#buttonSupervisorImport").on("click", supervisor.import);
    </script>
{% endblock %}

{% block content %}
    {% set user = session_user() %}

    <div class="bs-callout bs-callout-info" id="callout-glyphicons-location">
        <h4>Como importar los supervisores?</h4>
        <p><ol>
            <li>Si no tiene el moduelo del .csv puede descargarlo haciendo click en el boton "Descargar modelo".</li>
            <li>Si ya lo tiene, haga click en el boton "Busque el archivo .csv" y haga click en el boton "Importar".</li>
            <li>Si quiere cancelar la importacion haga click en el boton "Cancelar".</li>
        </ol></p>
    </div>

    <div class="box">
        <div class="box-body">
            <div id="containerLoading"></div>
            <form class="form-horizontal" id="formSupervisor">
                <div class="form-group">
                    <label for="inputFile" class="col-sm-2 control-label">{% trans %}Seleccionar archivo{% endtrans %}</label>
                    <div class="col-sm-8">
                        <input type="file" class="form-control filestyle"  name="inputFile" id="inputFile" data-icon="false" data-placeholder="{% trans %}No hay archivo{% endtrans %}" data-buttonText="{% trans %}Busque el archivo .csv{% endtrans %}">
                    </div>
                    <div class="col-sm-2" style="vertical-align: middle">
                        <a class="form-control btn btn-primary pull-left" href="{{ get_url(urlBase ~ '&a=model') }}"><i class="fa fa-file-excel-o"></i> {% trans %}Descargar modelo{% endtrans %}</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-danger" id="buttonSupervisorCancel" disabled>{% trans %}Cancelar{% endtrans %}</button>
                        <button type="button" class="btn btn-primary" id="buttonSupervisorImport" disabled>{% trans %}Importar{% endtrans %}</button>
                    </div>
                </div>
            </form>
            <div id="containerResult"></div>
        </div>
    </div>
{% endblock %}